body, html {
    height: 100%;
    margin: 0;
}

.layout {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.title {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
    font-family: 'Arial';
    font-size: 150%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: white;
}

.title img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: navy;
    font-family: Bahnschrift;
    grid-gap: 1px;
    height: auto;
}

.menuOption {
    text-align: center;
    font-size: 125%;
    background-color: lightskyblue;
    border: solid 1px navy;

}

.menuDropOption {
    text-align: center;
    font-size: 125%;
    background-color: lightskyblue;
    border: solid 1px navy;
}

.dropdownOptions {
    display: none;
    position: absolute;
    width: 20%;
    background-color: lightskyblue;
    z-index: 1;
    border: solid 1px navy;
}

.menuDropOption:hover .dropdownOptions {
    display: flex;
    flex-flow: column;
}

.info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: gainsboro;
}

.head {
    font-family: 'Arial';
    font-size: 100%;
    width: 100%;
    height: 10%;
    -webkit-text-fill-color: navy;
    background-color: skyblue;
    text-align: center;
}
.text {
    font-family: 'Arial';
    font-size: 80%;
    width: 98%;

}

p {
    text-align: justify;
    text-justify: auto;
}

.tableOfShips {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(12, auto);
    background-color: navy;
    font-family: Bahnschrift;
    grid-gap: 3px;
    border-bottom: solid 3px navy;
    border-top: solid 3px navy;
}

.tableContent {
    justify-self: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}

#title {
    grid-row: 1;
    grid-column: 1 / 13;
    justify-self: center;
}

#shipType {
    grid-row: 2;
    grid-column: 1;
}

#shipClass {
    grid-row: 2;
    grid-column: 2;
}

#natoCodename {
    grid-row: 2;
    grid-column: 3;
}

#projectNumber {
    grid-row: 2;
    grid-column: 4;
}

#shipEnginePower {
    grid-row: 2;
    grid-column: 5;
}

#surfaceBuoyancy {
    grid-row: 2;
    grid-column: 6;
}

#submergedBuoyancy {
    grid-row: 2;
    grid-column: 7;
}

#shipLength {
    grid-row: 2;
    grid-column: 8;
}

#shipWidth {
    grid-row: 2;
    grid-column: 9;
}

#shipCrew {
    grid-row: 2;
    grid-column: 10;
}

#shipMainArmament {
    grid-row: 2;
    grid-column: 11;
}

#submarine {
    grid-row: 3 / 6;
    grid-column: 1;
}

#rocketCruiser {
    grid-row: 6;
    grid-column: 1;
}



/*
td, th {
    border: solid black 1px;
    text-align: center;
}
table {
    border-collapse: collapse;
    font-family: 'Bahnschrift';
}
table.center {
    margin-left:auto;
    margin-right:auto;
}
 */
.photoDesc {
    display: flex;
    flex-flow: row;
    font-family: 'Arial ';
    text-align: center;
    -webkit-text-fill-color: navy;
    background-color: skyblue;
    width: 100%;
}

.sub705 {
    left: 0;
    width: 25%;
}

.sub941 {
    left: 25%;
    width: 25%;
}

.sub955 {
    left: 50%;
    width: 25%;
}

.cruiser1144 {
    left: 75%;
    width: 25%;
}

.photos {
    display: flex;
    flex-flow: row;
    width: 100%;
    background-color: gainsboro;
}

.foto705 img {
    width: 100%;
}

.foto941 img {
    width: 100%;
}

.foto955 img {
    width: 100%;
}

.foto1144 img {
    width: 100%;
}

.headTwo {
    font-family: 'Bahnschrift';
    font-size: 100%;
    width: auto;
    height: 10%;
    text-align: center;
    padding: 1%;
    border: solid 1px black;
}

.unnumberedList {
    text-align: left;
    font-family: 'Bahnschrift';
}

.numberedList {
    text-align: left;
    font-family: 'Bahnschrift';
}

.headThree {
    font-family: 'Bahnschrift';
    font-size: 100%;
    width: auto;
    height: 10%;
    text-align: center;
    padding: 1%;
    border: solid 1px black;
}

.headThree:hover {
    background-color: skyblue;
    border: solid 2px navy;
}

a:link {
    text-decoration: none;
    -webkit-text-fill-color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    -webkit-text-fill-color: black;
}

a.gallery:hover {
    background-color: darkcyan;
}

/*a.buttons:link {
    text-decoration: none;
    -webkit-text-fill-color: black;
}

a.buttons:hover {
    text-decoration: underline;
}

a.buttons:visited {
    -webkit-text-fill-color: black;
}

a.newsletter:link {
    text-decoration: none;
    -webkit-text-fill-color: black;
}

a.newsletter:hover {
    text-decoration: underline;
}

a.newsletter:visited {
    -webkit-text-fill-color: black;
}*/