body, html {
    height: 100%;
    margin: 0;
}

.layout {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.title {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
    font-family: 'Arial';
    font-size: 150%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: navy;
}

.title img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: gainsboro;
}

.head {
    font-family: 'Arial';
    font-size: 100%;
    width: 100%;
    height: 10%;
    -webkit-text-fill-color: navy;
    background-color: skyblue;
    text-align: center;
}

.text {
    font-family: 'Arial';
    font-size: 80%;
    width: 100%;
}

td, th {
    border: solid black 1px;
    text-align: center;
}
table {
    border-collapse: collapse;
    font-family: 'Bahnschrift';
}
table.center {
    margin-left:auto;
    margin-right:auto;
}

.photoDesc {
    display: flex;
    flex-flow: row;
    font-family: 'Arial ';
    text-align: center;
    -webkit-text-fill-color: navy;
    background-color: skyblue;
    width: 100%;
}

.sub705 {
    left: 0;
    width: 25%;
}

.sub941 {
    left: 25%;
    width: 25%;
}

.sub955 {
    left: 50%;
    width: 25%;
}

.cruiser1144 {
    left: 75%;
    width: 25%;
}

.photos {
    display: flex;
    flex-flow: row;
    width: 100%;
    background-color: gainsboro;
}

.foto705 img {
    width: 100%;
}

.foto941 img {
    width: 100%;
}

.foto955 img {
    width: 100%;
}

.foto1144 img {
    width: 100%;
}

.headTwo {
    font-family: 'Bahnschrift';
    font-size: 100%;
    width: auto;
    height: 10%;
    text-align: center;
    padding: 1%;
    border: solid 1px black;
    background-color: gainsboro;
}

.unnumberedList {
    text-align: left;
    font-family: 'Bahnschrift';
}

.numberedList {
    text-align: left;
    font-family: 'Bahnschrift';
}

.headThree {
    font-family: 'Bahnschrift';
    font-size: 100%;
    width: auto;
    height: 10%;
    text-align: center;
    padding: 1%;
    border: solid 1px black;
}

.headThree:hover {
    background-color: skyblue;
    border: solid 2px navy;
}

a.newsletter:link {
    text-decoration: none;
    -webkit-text-fill-color: black;
}

a.newsletter:hover {
    text-decoration: underline;
}

a.newsletter:visited {
    -webkit-text-fill-color: black;
}