body, html {
    height: 100%;
    margin: 0;
}

.newsletterLayout {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.newsletterTitle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
    font-family: 'Arial';
    font-size: 150%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: navy;
}

.newsletterTitle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    float: top;
}

.formBackground {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100vh;
    background-color: gainsboro;
}

form {
    width: 100%;
    background-color: gainsboro;
    font-weight: bold;
    font-family: 'Bahnschrift';
    align-items: center;
}
.form {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
input {
    font-family: 'Arial';
    width: auto;
    background-color: aliceblue;
    border: dotted 1px black;
}

input[type=text] {
    height: 2vh;
    width: 10%;
}

input[type=number] {
    height: 2vh;
    width: 10%;
}

input[type=number]:focus {
    height: 2vh;
    width: 10%;
    background-color: antiquewhite;
}

input[type=submit] {
    border: solid 1px black;
    font-family: 'Bahnschrift';
    margin-top: 10%;
}

input[type=submit]:focus {
    border: solid 1px black;
    font-family: 'Bahnschrift';
    margin-top: 10%;
    background-color: antiquewhite;
    width: auto;
}

select {
    height: auto;
    width: 10%;
}

input[type=text]:focus {
    font-family: 'Arial';
    width: 10%;
    background-color: antiquewhite;
    border: solid 1px black;
}
.options {
    display: flex;
    flex-flow: column;
    justify-content: center;
    left: 30%;
}

.option {
    display: flex;
    flex-flow: row;
    width: auto;
    align-items: center;
}

.subButton {
    width: 10%;
    left: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.return {
    align-self: center;
    font-family: 'Bahnschrift';
    font-size: 100%;
    width: 25vw;
    height: auto;
    text-align: center;
    padding: 1%;
    border: solid 1px black;
}

.return:hover {
    cursor: pointer;
    background-color: skyblue;
    border: solid 2px navy;
}

a.mainSite:link {
    text-decoration: none;
    -webkit-text-fill-color: black;
}

a.mainSite:hover {
    text-decoration: underline;
}

a.mainSite:visited {
    -webkit-text-fill-color: black;
}