body, html {
    height: 100%;
    margin: 0;
}

.newsletterLayout {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.newsletterTitle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
    font-family: 'Arial';
    font-size: 150%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: navy;
}

.newsletterTitle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    float: top;
}

.formBackground {
    width: 100%;
    height: 100vh;
    background-color: gainsboro;
}

form {
    width: 100%;
    background-color: gainsboro;
    font-weight: bold;
    font-family: 'Bahnschrift';
}
.form {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
input {
    font-family: 'Arial';
    width: auto;
    background-color: aliceblue;
    border: dotted 1px black;
}

input:focus {
    font-family: 'Arial';
    width: auto;
    background-color: antiquewhite;
    border: solid 1px black;
}

.subButton {
    width: 10%;
    left: 0;
}
